---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Bienvenida">

  <div class="w-full max-w-screen-xl mx-auto px-4">
    <div class="container md:flex items-center">
      <main class="px-4 mb-6" flex-grow>
        <p class="mt-10 text-4xl text-gray-300">¿Cómo comencé?</p>
        <p class="mt-10 text-xl text-gray-300">Soy un apasionado de la tecnología desde muy pequeño.
        Teléfonos, ordenadores, consolas... todo me llamaba la atención, sobre todo el como estaban hechas las cosas y el como era posible que funcionasen. Era como magia. Asi que decidí integrarme a fondo en el mundo de la tecnología inciandome en un CFGM de Sistemas Microinformáticos y Redes.
        Una vez terminé de profundizar en el mundo de la tecnología, montaje y desarrollo, me dí cuenta que el desarrollo me encantó. Quería ser Desarrollador de Aplicaciones.
        Ahí fue donde emprendí mi futuro. Ahora, puedo decir que soy tanto Técnico en Sistemas Microinformáticos y Redes como Técnico en Desarrollo de Aplicaciones Multiplataforma y que he cumplido parte de mi sueño. Ahora, toca culminarlo.
        </p>
        <p class="mt-10 text-xl text-gray-300">Te dejo a continuación toda mi carrera, lo puedes tomar como un pequeño curriculum aunque, si quieres ver mas información, te dejo la descarga de mi curriculum disponible.</p>
      </main>
  </div>
  <div class="w-full h-max bg-gradient-to-r from-pink-500 to-violet-500 ... p-1 flex flex-col gap-1 rounded-2xl mt-10">
    <div class="h-max bg-gray-700 rounded-xl">
      <p class="text-xl font-bold text-gray-300 mx-4 mt-4">IES Mario López, Bujalance, Córdoba (CFGM Sistemas Micronformáticos y Redes)</p>
      <p class="text-sm text-gray-300 mx-4 mt-4">Sept 2018 - Jun 2021</p>
      <p class="text-md text-gray-300 mx-4 mt-4">Fue donde por fin pude entender los conocimientos de la informática y donde descubrí que camino escoger en este mundillo.</p>
      <p class="text-md text-gray-300 mx-4 mt-2 mb-4">Aprendí a manejar bases de datos SQL, las bases de HTML y CSS, conocimientos sobre Linux, Windows, redes...</p>
    </div>
  </div>

    <div class="w-full h-max bg-gradient-to-r from-pink-500 to-violet-500 ... p-1 flex flex-col gap-1 rounded-2xl mt-10">
    <div class="h-max bg-gray-700 rounded-xl">
      <p class="text-xl font-bold text-gray-300 mx-4 mt-4">Microser, Córdoba</p>
      <p class="text-sm text-gray-300 mx-4 mt-4">Mar 2021 - Jun 2021</p>
      <p class="text-md text-gray-300 mx-4 mt-4">Fueron mis prácticas de empresa en el grado medio y fue una experiencia FANTASTICA.</p>
      <p class="text-md text-gray-300 mx-4 mt-2">Al ser la primera toma de contacto con un trabajo tuve que adaptarme y aprender cosas nuevas que no había visto en el grado, pero agradezco haberlas aprendido.</p>
      <p class="text-md text-gray-300 mx-4 mt-2 mb-4">Aprendí a hacer instalaciones de redes, a reparar equipos informáticos, moviles, tablets, periféricos...</p>
    </div>
  </div>

    <div class="w-full h-max bg-gradient-to-r from-pink-500 to-violet-500 ... p-1 flex flex-col gap-1 rounded-2xl mt-10">
    <div class="h-max bg-gray-700 rounded-xl">
      <p class="text-xl font-bold text-gray-300 mx-4 mt-4">IES Virgen del Carmen, Jaén (CFGS Desarrollo de Aplicaciones Multiplataforma)</p>
      <p class="text-sm text-gray-300 mx-4 mt-4">Sept 2021 - Jun 2023</p>
      <p class="text-md text-gray-300 mx-4 mt-4">Era el grado que decidí cursar tras el grado medio ya que lo que más me llamo la atención fueron las aplicaciones, páginas web, sistemas...</p>
      <p class="text-md text-gray-300 mx-4 mt-2 mb-4">Aprendí a hacer un mejor manejo de las bases de datos SQL y noSQL, he decidido focalizarme en el desarrollo de aplicaciones mobile(Android, Kotlin) aunque, como podréis comprobar en mi perfil de linkedin y en mi curriculum, también he realizado algún curso de Swit, SwiftUI y Xcode.</p>
    </div>
  </div>

    <div class="w-full h-max bg-gradient-to-r from-pink-500 to-violet-500 ... p-1 flex flex-col gap-1 rounded-2xl mt-10">
    <div class="h-max bg-gray-700 rounded-xl">
      <p class="text-xl font-bold text-gray-300 mx-4 mt-4">Esija, Jaén</p>
      <p class="text-sm text-gray-300 mx-4 mt-4">Mar 2023 - Jun 2023</p>
      <p class="text-md text-gray-300 mx-4 mt-4">Fueron mis prácticas de empresa en el grado superior donde también tuve una experiencia muy buena y adquirí nuevos conocimientos.</p>
      <p class="text-md text-gray-300 mx-4 mt-2 mb-4">Aprendí Flask, realización de API y también aprendi a usar CI-CD de Gitlab.</p>
    </div>
  </div>
</div>
      
  
      
      
    
</Layout>
