---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Bienvenida">

  <div class="w-full max-w-screen-xl mx-auto px-4">
    <div class="container md:flex items-center">
      <main class="px-4 mb-6" flex-grow>
        <p class="mt-10 text-4xl text-gray-300">Contactame</p>
        <p class="mt-10 text-xl text-gray-300">
          Bueno, como he comentado anteriormente aqui dejo disponible tanto la información para ponerse en contacto conmigo como tambien
          para que puedas tener a disposición mi CV en el cuál recojo toda la información de mi recorrido laboral y las habilidades obtenidas.
        </p>
        <p class="mt-10 text-xl text-gray-300">Made with love by Adrian Velasco Carrasco ❤️</p>
      </main>
      <aside class="px-4 md:w-64 lg:w-2/4 justify-center">
        <div class="h-max bg-gray-700 rounded-xl">
        <div class="w-96 h-max bg-gradient-to-r from-pink-500 to-violet-500 ... p-3 flex flex-col gap-1 rounded-2xl">
          <div class="h-90 bg-gray-700 rounded-xl">
            <img class="rounded-xl h-full w-full" src="https://firebasestorage.googleapis.com/v0/b/portfolio-adrian-velasco.appspot.com/o/adrimallorquin.JPG?alt=media&token=3400f8b0-43d1-460b-ad2d-8674a1f3039f" alt="Imagen de Adri">
          </div>
          <div class="w-full h-max bg-gradient-to-r from-pink-500 to-violet-500 ... p-1 flex flex-col gap-1 rounded-2xl mt-10">
            <div class="h-max bg-gray-700 rounded-xl">
              <div class="justify-center mt-4 ml-6 mr-6">
                <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-adrian-velasco.appspot.com/o/Curriculum%20Adria%20n%20Velasco%20Carrasco-1-1-4.pdf?alt=media&token=2b4095fa-3115-4439-a080-116c406e4574" target="_blank" rel="noopener noreferrer">
                <button id="enviarBtn" class="group relative h-12 w-full overflow-hidden rounded-lg bg-gradient-to-r from-pink-500 to-violet-500 text-lg shadow mb-4">
                  <div class="absolute inset-0 w-10 bg-pink-500 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
                  <span class="relative text-white group-hover:text-white">Curriculum</span>
                </button>
              </a>
            </div>
            <div class="justify-center mt-6 ml-6 mr-6">
              <a href="mailto:adridevelop11@gmail.com?subject=Contacto desde portfolio" target="_blank" rel="noopener noreferrer">
              <button id="enviarBtn" class="group relative h-12 w-full overflow-hidden rounded-lg bg-gradient-to-r from-pink-500 to-violet-500 text-lg shadow mb-4">
                <div class="absolute inset-0 w-10 bg-pink-500 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
                <span class="relative text-white group-hover:text-white">Contacta conmigo</span>
              </button>
            </a>
          </div>
          </div>
        </div>
        </div>
        
      </aside>
  </div>
  
  
    
</Layout>

