---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Bienvenida">

  <div class="w-full max-w-screen-xl mx-auto px-4">
    <p class="mt-10 text-4xl text-gray-300">Proyectos</p>

    <p class="mt-10 text-xl text-gray-300">Estos son mis principales proyectos, se que son pocos pero, actualmente me estoy especializando con Java, microservicios, test unitarios con JUnit, Mockito... Así que pronto se encontrarán aqui mis proximos proyectos.</p>

    <div class="md:flex mt-8">
      <section class="md:w-96 px-4 mb-6">

        <div class="w-full h-max bg-gradient-to-r from-pink-500 to-violet-500 ... p-1 flex flex-col gap-1 rounded-2xl mt-10 shadow ">
         
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                
                    <img class="rounded-t-lg" src="https://firebasestorage.googleapis.com/v0/b/proyectoejemplo-268b6.appspot.com/o/portfolio1.png?alt=media&token=5f413339-709b-4166-9202-7b00ce45c938" alt="" />
                
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Portfolio 2023</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Aqui disponeis del primer portfolio que cree el año pasado.</p>
                    <div class="justify-center">
                        <a href="https://portfolio-adrian-velasco.web.app/" class="inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Echale un vistazo!
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                
            </div>

        </div>
      </section>

      <section class="md:w-96 px-4 mb-6">

        <div class="w-full h-max bg-gradient-to-r from-pink-500 to-violet-500 ... p-1 flex flex-col gap-1 rounded-2xl mt-10 shadow ">
         
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                
                    <img class="rounded-t-lg" src="https://firebasestorage.googleapis.com/v0/b/proyectoejemplo-268b6.appspot.com/o/portfolio2.png?alt=media&token=a0bccf34-6d82-4629-85dc-79d83d8bb917" alt="" />
                
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Portfolio 2024</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Aqui os dejo el portfolio que he mejorado para este año.</p>
                    <div class="justify-center">
                        <a href="https://portfolio-astro-f94df.web.app/" class="inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Echale un vistazo!
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                        <a href="https://github.com/adriDevelop/portfolio" class="inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Github
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                
            </div>

        </div>
        
      </section>

      <section class="md:w-96 px-4 mb-6">
        
      </section>
    </div>
  </div>
</Layout>
