<nav class="bg-black-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            </div>
            <div
                class="flex flex-1 items-start justify-right sm:items-stretch sm:justify-start"
            >
                <a
                    href="/"
                    class="text-white rounded-md px-3 py-2 text-sm font-medium"
                    aria-current="page">Adrian´s Portfolio</a
                >
                <div class="flex flex-1 sm:items-stretch sm:justify-end">
                    <a
                        href="#1"
                        class="text-white hover:bg-gray-700 rounded-md px-3 py-2 text-sm font-medium"
                        aria-current="page">Sobre mí</a
                    >
                    <a
                        href="#2"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                        >¿Como comencé?</a
                    >
                    <a
                        href="#3"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                        >Proyectos</a
                    >
                    <a
                        href="#4"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                        >Contáctame</a
                    >
                </div>
            </div>
        </div>
    </div>
</nav>
