---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Bienvenida">
    <div class="w-full max-w-screen-xl mx-auto px-4">
            <p class="mt-10 text-4xl text-gray-300">Proyectos</p>
            <div class="container md:flex">
                <main class="px-4 mb-6" flex-grow>
                  <p class="mb-4 text-gray-300 mt-10">Actualmente no dispongo de ningún proyecto.</p>
                </main>
            </div>
        </div>     
    </div>       
    
</Layout>